<html>
<head>
  <title>Elixir Playground</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
  <style type="text/css">
    body { padding-top: 70px; }
    textarea { font-family: "courier new"; }
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Elixir Playground</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/run" class="snippet-form-action">Run</a></li>
          <li><a href="/save" class="snippet-form-action">Share</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <textarea name="snippet" style="width: 100%;height: 300px;">defmodule Hello do
  def world! do
    IO.puts "Hello World!"
  end
end

Hello.world!
</textarea>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-lg-6">
        <textarea name="result" style="width: 100%;height: 200px;"></textarea>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>
  (function (window, document, $, undefined) {
    $(document).ready(function () {

      $('.snippet-form-action').unbind('click').click(function (e) {
        var href = $(this).attr('href');
        e.preventDefault();

        $.ajax({
          type: "POST",
          url: href,
          data: {
            snippet: $('textarea[name="snippet"]').val()
          },
          success: function (data) {
            var $result = $('textarea[name="result"]'),
              message = '';

            if (data.result.error) {
              message = data.result.error;
              $result.css('color', 'red');
            } else {
              message = data.result.ok;
              $result.css('color', 'black');
            }

            $result.val(message);
          }
        });
      });

    });
  })(window, document, jQuery);
  </script>
</body>
</html>
